<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <h1>Submitted Info</h1>
      <p>Name: <%= result.name %></p>
      <p>Dojo Location: <%= result.location %></p>
      <p>Favorite Language: <%= result.fav_language %></p>
      <p>Comment: <%= result.comment %></p>
      <form action="/" method="get">
        <input type="submit" value="Go Back">
      </form>
    </div>
  </body>
</html>
